default_install_hook_types:
  - commit-msg
  - pre-commit
# Repos are manually mirrored from github on private repo, to be reachable behind proxy
repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: ["--verbose"]  # print help on how the message should look like
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        stages: [pre-commit]
      - id: end-of-file-fixer
        stages: [pre-commit]
      - id: check-added-large-files
        stages: [pre-commit]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.6
    hooks:
      - id: ruff-format
        stages: [pre-commit]
      - id: ruff
        args: ["--fix"]
        types_or: [python, pyi] # Removed jupyter
        stages: [pre-commit]
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.11
    hooks:
      - id: uv-lock
        stages: [pre-commit]
      - id: uv-export  # No extras in requirements.txt
        args: ["-o", "requirements.txt", "--no-dev", "--no-hashes", "--no-emit-project", "--no-header", "--no-annotate"]
        stages: [pre-commit]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: uv run mypy
        language: system
        types: [python]
        files: .
        stages: [pre-commit]  # Change to pre-push for performance?
